//colours
$black: #000000;
$darkGrey: #1A1A1A;
$lightGreen: #2DB073;
$green: #28A06A;
$white: #FFFFFF;

//media query values
$breakpointSmall: 576px;
$breakpointMedium: 769px;
$breakpointMediumLarge: 992px;
$breakpointLarge: 1200px;

//font family
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

//font sizes
$font-base: 16px;
$font-large: 20px;
$font-xl: 36px;